body
{
	background-color:#d4f7f7;
}
.reverse
{
	transform:rotate(180deg);
	font-size:2em;
}

div#info div.col-sm-4
{
	background-color:orange;
	border-radius: 4px;
}

header, nav
{
	background-color:lightgray;
}

footer
{
	background-color:darkgray;
}

#site-logo
{
	width:35px;
}

ul.nav input[type="text"]
{
	border-radius:3px;
}

ul.nav input[type="text"], ul.nav btn
{
	margin:0 2px;
}

a.btn-primary
{
	/*color:red;*/
	margin-right:50px;
}

ul.nav li a.btn-primary
{
	margin-top:-4px;
	margin-left:2px;
}

#inicio
{
	padding: 4px;
}

ul.nav li
{
	margin:4px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}