body
{
	background-color:#d4f7f7;
}
.reverse
{
	display:inline-block;
	transform:rotate(180deg);
}

div#info div.col-sm-4
{
	background-color:orange;
	border-radius: 4px;
}

header, nav
{
	background-color:lightgray;
}

footer
{
	background-color:darkgray;
}

#site-logo
{
	width:35px;
}

ul.nav input[type="text"]
{
	border-radius:3px;
}

ul.nav input[type="text"], ul.nav btn
{
	margin:0 2px;
}

a.btn-primary
{
	/*color:red;*/
	margin-right:50px;
}

ul.nav li a.btn-primary
{
	margin-top:-4px;
	margin-left:2px;
}

#inicio
{
	padding: 4px;
}

ul.nav li
{
	margin:4px;
}

#custom-search-input
{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input
{
    border: 0;
    box-shadow: none;
}

.bar-left
{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.jumbotron
{
	background-image:url("../img/https---specials-images.forbesimg.com-dam-imageserve-934255506-960x0.jpg");
	background-position: center;
	color:#E2E2E2;
	text-align: center;
}
.jumbotron *
{
	margin:5px;
}

.jumbotron h3
{
	background-color: rgba(155,168,178,0.4);
	margin:0 21%;
	border-radius:5px;
}

.jumbotron input[type="text"]
{
	border-radius:4px;
	border:0;
	background-color:#e8fdfd;
	
}

#cormorant
{
	color:black;
	font-family: 'Cormorant SC', serif;
	font-size:2.3em;
	/*font-weight:bold;*/
}

#info
{
	text-align: center;

}

#info p
{
	font-size:0.95rem;
}

#mailbox
{
	border:none;
	margin:2%;
	padding:1%;
}


@media (max-width: 783px)
{
	.bar-left
	{
		background: none;
		box-shadow: none;
		border: 0;
		color: #fff;
		border: none;
	}

}
@media (max-width: 439px)
{
	.jumbotron h3
	{
		background-color: rgba(220,220,230,0.3);
		margin:0 18%;
		border-radius:5px;
	}
	#mailbox
	{
		border:none;
		
	
	}
	#mailbox~a
	{
		text-align:center;
		margin-left:51px;
		
	}
	#cormorant
	{
		font-weight:bold;
		font-size:2em;
	}
}