.debug
{
	background-color:red;
	border-radius:20px;
}
.error
{
	color:red;
}

/*body
{
	background-color:#d4f7f7;
}*/
body
{
	background-color:#fff2e6;
}
.reverse
{
	display:inline-block;
	transform:rotate(180deg);
}

div#info div.col-sm-4
{
	background-color:orange;
	border-radius: 4px;
}

header, nav
{
	background-color:lightgray;
}

footer
{
	background-color:darkgray;
}

#site-logo
{
	width:35px;
}

ul.nav input[type="text"]
{
	border-radius:3px;
}

ul.nav input[type="text"], ul.nav btn
{
	margin:0 2px;
}

a.btn-primary
{
	/*color:red;*/
	margin-right:50px;
}

ul.nav li a.btn-primary
{
	margin-top:-4px;
	margin-left:2px;
}

#inicio
{
	padding: 4px;
}

ul.nav li
{
	margin:4px;
}

#custom-search-input
{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input
{
    border: 0;
    box-shadow: none;
}

.bar-left
{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.jumbotron
{
	background-image:url("../img/https---specials-images.forbesimg.com-dam-imageserve-934255506-960x0.jpg");
	background-position: center;
	color:#E2E2E2;
	text-align: center;
}
.jumbotron *
{
	margin:5px;
}

.jumbotron h3
{
	background-color: rgba(155,168,178,0.4);
	margin:0 21%;
	border-radius:5px;
}

.jumbotron input[type="text"]
{
	border-radius:4px;
	border:0;
	background-color:#fff6f9;
	/*background-color:#e8fdfd;*/
	
}

#cormorant
{
	color:black;
	font-family: 'Cormorant SC', serif;
	font-size:2.3em;
	/*font-weight:bold;*/
}

#info
{
	text-align: center;

}

#info p
{
	font-size:0.95rem;
}

#mailbox
{
	border:none;
	margin:2%;
	padding:1%;
}


@media (max-width: 783px)
{
	.bar-left
	{
		background: none;
		box-shadow: none;
		border: 0;
		color: #fff;
		border: none;
	}

}

@media (max-width: 439px)
{
	.jumbotron h3
	{
		background-color: rgba(220,220,230,0.3);
		margin:0 18%;
		border-radius:5px;
	}
	#mailbox
	{
		border:none;
		
	
	}
	#mailbox~a
	{
		text-align:center;
		margin-left:51px;
		
	}
	#cormorant
	{
		font-weight:bold;
		font-size:2em;
	}
}

.curhead
{
	margin:0;
}

.curhead .col-md-5
{
	/*background-color:#d4f7f7;*/
	background-color:#d7cabe;
	border-radius: 5px;
	border:1px solid #000;
}

.curhead a.button
{
	border-radius:4px;
	height:1.5em;
	text-align: center;
	margin-bottom:5%;
	padding-bottom:10px;
}

#loginPage *
{
	font-family: 'Source Sans Pro', sans-serif;
}

#loginPage .logo
{
	width:320px;
}

.curhead h3
{
	margin: 3% 0%;
	font-family: 'Bree Serif', serif;
}

.hr
{
	border:1px brown solid;
}

hr+p
{
	text-align: center;
}

#loginPage .row
{
	margin-bottom:4px;
}

#loginPage input[type="text"],#loginPage input[type="password"],#loginPage input[type="date"]
{
	padding:0 1%;
}

#profilePage input[type="text"],#profilePage input[type="password"],#profilePage input[type="date"]
{
	padding:0 5px;
}


a i
{
	margin:0 1%;
}

header.empty
{
	background:none;
}

header.container.empty
{
	text-align: center;
	margin-bottom: 2%;
}
header.container.empty img
{
	margin-top:15px;
	/*background-color: #ffffff;*/
	/*background-color: #fffefE;*/
	border-radius:2px;
}

article img
{
	width:300px;
}

.container article
{
	/*background-color:#dde6dd;*/
	background-color:#d7cabe;
	border:solid 1px #111;
	margin:6px;
}

.vr
{
	border:none;
	border-left: 1px;
	border-right: 1px;
	border-color:black;
	border-style: solid;	
}

.vr-left
{
	border:none;
	border-left: 1px;
	border-color:black;
	border-style: solid;	
}
.vr-right
{
	border:none;
	border-right: 1px;
	border-color:black;
	border-style: solid;	
}

.hidden
{
	display: none;
}

img.col-md-3
{
	padding-left:0;
}

#profilePage section form.container
{
	margin-top: 2%;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	/*border:ridge #f12a10 2px;*/
	border:ridge lightblue 2px;
	border-radius: 2px;
}

#profilePage form.container .row
{
	margin-bottom:5px;
}

.falseFontAwesome
{
	height:15px;
	margin-bottom: 5px;
	margin-right: 4px;
	
}
.gplus
{
	margin-right: 7px;
}

#empresa img.principal
{
	width:100%;
	height:220px;
}
.principal
{
	padding:0;
}
img.mapa
{
	width:100%;
	height:14vw;
}
.principal h5
{
	margin-top: 5px;
	text-decoration: underline;
}
#empresa section.container h2
{
	font-weight: bolder;
	font-family: 'Bungee', cursive;
	margin:5px;
	text-decoration: underline;
}
section.container.empresa, section.container.empresa > * > *, .opinionBorder
{
	border:gray solid 1px;
}
.opinion .user
{
	text-align: center;
	border-right:solid 1px gray;
}
.opinion .user h6
{
	font-size:1.5em;
	
}
.opinion .user p
{
	color:darkgreen;
}
.opiniones, .opinion
{
	margin-top:10px;
	margin-bottom:10px;
}
.preview
{
	height:50px;
	border: 1px solid black;
	width:33.33%;
}

.principal .row
{
	margin-left:0;
	margin-right:0;
}

.more
{
	color:white;
	text-align:center;
	background:black;
	padding-top:10px;
}

.searchImg
{
	width:100%;
	height:250px;
}

.search-slt
{
	height:50px;
}

div.mapa 
{
	background-color:#fff4fe;
	text-align: right;
	border-bottom: solid 1px darkgray;
}
div.mapa small
{
	margin-right:4px;
}

div.mapa iframe
{
	width:100%;
}

.center
{
	text-align: center;
}

form.container input[type="submit"]
{
	margin-bottom: 20px;
}

.tos
{
	width:80%;
	margin-left:10%;
	text-align: center;
	border-radius: 20px;
	border: 1px double rgb(100,100,100);
}
.tos p
{
	margin:2.4%;
}